.button-red{
	background-color:white;
	color:$red;
	border:1px solid $red;
	font-weight: 600;
	box-shadow: none;
}

.button-red:hover{
	background-color:$red;
	color:white;
	border:1px solid $red;
}

.button-green{
	background-color:rgb(69, 179, 174);
	color:white;
	border:1px solid white;
	font-weight: 600;
	box-shadow: none;
}

.button-green:hover{
	background-color:white;
	color:rgb(69, 179, 174);
	border:1px solid white;
}

