.facts{
	background-color:#eee;
}

.fact{
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.upper-fact{
	font-size:3em;
	font-weight:bold;
}

.fact p{
	font-size:1.2em;
}