.office-details{
	position:absolute;
	top: 150px;
	right:-1px;
	border-left:1px solid #eee;
	background-color:white;
	-webkit-box-shadow: -2px 2px 18px -7px rgba(0,0,0,0.3);
-moz-box-shadow: -2px 2px 18px -7px rgba(0,0,0,0.3);
box-shadow: -2px 2px 18px -7px rgba(0,0,0,0.3);
}

.details-wrapper{
	padding:20px 30px;
}

.office-image-wrapper{

	overflow:hidden;
}

.office-form{
	max-width:500px;
	margin:0 auto;
}

@media(max-width:768px){
	.office-details{
		position: relative;
		top:0;
		text-align:center;
		border-bottom:1px solid #eee;
	}

	.office-image-wrapper{
		display:none;
	}
}